[Desktop Entry]
Encoding=UTF-8
Name=Link to Image result for poison ivy lair 250 × 166 - batman.wikia.com 
Type=Link
URL=https://www.google.com/imgres?imgurl=https%3A%2F%2Fvignette.wikia.nocookie.net%2Fbatman%2Fimages%2Fc%2Fcb%2FGardenlairconcept.jpg%2Frevision%2Flatest%2Fscale-to-width-down%2F250%3Fcb%3D20090304235120&imgrefurl=http%3A%2F%2Fbatman.wikia.com%2Fwiki%2FTurkish_Bath_House&docid=pieOxEganSX83M&tbnid=pO5WOouBYPEYpM%3A&vet=10ahUKEwiWkd6MtpTXAhUP3mMKHWqpDpkQMwheKAEwAQ..i&w=250&h=166&client=ubuntu&bih=954&biw=800&q=poison%20ivy%20lair&ved=0ahUKEwiWkd6MtpTXAhUP3mMKHWqpDpkQMwheKAEwAQ&iact=mrc&uact=8
Icon=text-html
Name[en_US]=back ground 
